@theme {
  --color-primary: #6d5961;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #f7dbe5;
  --color-onPrimaryContainer: #54424a;
  --color-secondary: #695b60;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #f1dee4;
  --color-onSecondaryContainer: #504348;
  --color-tertiary: #725763;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #fdd9e7;
  --color-onTertiaryContainer: #59404b;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #fff8f8;
  --color-onBackground: #1e1b1c;
  --color-surface: #fff8f8;
  --color-surfaceDim: #dfd8d9;
  --color-surfaceBright: #fff8f8;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #f9f2f2;
  --color-surfaceContainer: #f4eced;
  --color-surfaceContainerHigh: #eee6e7;
  --color-surfaceContainerHighest: #e8e1e1;
  --color-onSurface: #1e1b1c;
  --color-surfaceVariant: #e8e1e1;
  --color-onSurfaceVariant: #4a4647;
  --color-outline: #7b7677;
  --color-outlineVariant: #cbc5c6;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #333030;
  --color-inverseOnSurface: #f6eff0;
  --color-inversePrimary: #dac0c9;
}

[data-theme="dark"] {
  --color-primary: #dac0c9;
  --color-onPrimary: #3d2c33;
  --color-primaryContainer: #54424a;
  --color-onPrimaryContainer: #f7dbe5;
  --color-secondary: #d4c2c8;
  --color-onSecondary: #392d32;
  --color-secondaryContainer: #504348;
  --color-onSecondaryContainer: #f1dee4;
  --color-tertiary: #e0bdcb;
  --color-onTertiary: #412a34;
  --color-tertiaryContainer: #59404b;
  --color-onTertiaryContainer: #fdd9e7;
  --color-error: #ffb4ab;
  --color-onError: #690005;
  --color-errorContainer: #93000a;
  --color-onErrorContainer: #ffdad6;
  --color-background: #151313;
  --color-onBackground: #e8e1e1;
  --color-surface: #151313;
  --color-surfaceDim: #151313;
  --color-surfaceBright: #3c3839;
  --color-surfaceContainerLowest: #100e0e;
  --color-surfaceContainerLow: #1e1b1c;
  --color-surfaceContainer: #221f20;
  --color-surfaceContainerHigh: #2c292a;
  --color-surfaceContainerHighest: #373435;
  --color-onSurface: #e8e1e1;
  --color-surfaceVariant: #4a4647;
  --color-onSurfaceVariant: #cbc5c6;
  --color-outline: #958f90;
  --color-outlineVariant: #4a4647;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #e8e1e1;
  --color-inverseOnSurface: #333030;
  --color-inversePrimary: #6d5961;
}

.flat-theme {
  --color-primary: #6d5961;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #f7dbe5;
  --color-onPrimaryContainer: #54424a;
  --color-secondary: #695b60;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #f1dee4;
  --color-onSecondaryContainer: #504348;
  --color-tertiary: #725763;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #fdd9e7;
  --color-onTertiaryContainer: #59404b;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #fff8f8;
  --color-onBackground: #1e1b1c;
  --color-surface: #fff8f8;
  --color-surfaceDim: #dfd8d9;
  --color-surfaceBright: #fff8f8;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #f9f2f2;
  --color-surfaceContainer: #f4eced;
  --color-surfaceContainerHigh: #eee6e7;
  --color-surfaceContainerHighest: #e8e1e1;
  --color-onSurface: #1e1b1c;
  --color-surfaceVariant: #e8e1e1;
  --color-onSurfaceVariant: #4a4647;
  --color-outline: #7b7677;
  --color-outlineVariant: #cbc5c6;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #333030;
  --color-inverseOnSurface: #f6eff0;
  --color-inversePrimary: #dac0c9;
}

.flat-theme[data-mode="dark"] {
  --color-primary: #dac0c9;
  --color-onPrimary: #3d2c33;
  --color-primaryContainer: #54424a;
  --color-onPrimaryContainer: #f7dbe5;
  --color-secondary: #d4c2c8;
  --color-onSecondary: #392d32;
  --color-secondaryContainer: #504348;
  --color-onSecondaryContainer: #f1dee4;
  --color-tertiary: #e0bdcb;
  --color-onTertiary: #412a34;
  --color-tertiaryContainer: #59404b;
  --color-onTertiaryContainer: #fdd9e7;
  --color-error: #ffb4ab;
  --color-onError: #690005;
  --color-errorContainer: #93000a;
  --color-onErrorContainer: #ffdad6;
  --color-background: #151313;
  --color-onBackground: #e8e1e1;
  --color-surface: #151313;
  --color-surfaceDim: #151313;
  --color-surfaceBright: #3c3839;
  --color-surfaceContainerLowest: #100e0e;
  --color-surfaceContainerLow: #1e1b1c;
  --color-surfaceContainer: #221f20;
  --color-surfaceContainerHigh: #2c292a;
  --color-surfaceContainerHighest: #373435;
  --color-onSurface: #e8e1e1;
  --color-surfaceVariant: #4a4647;
  --color-onSurfaceVariant: #cbc5c6;
  --color-outline: #958f90;
  --color-outlineVariant: #4a4647;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #e8e1e1;
  --color-inverseOnSurface: #333030;
  --color-inversePrimary: #6d5961;
}
