@theme {
  --color-primary: #b5007c;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #ffd8e8;
  --color-onPrimaryContainer: #8a005e;
  --color-secondary: #7f525d;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #ffd9e0;
  --color-onSecondaryContainer: #643b46;
  --color-tertiary: #8b4c4f;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #ffdada;
  --color-onTertiaryContainer: #6f3639;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #fff8f8;
  --color-onBackground: #25181e;
  --color-surface: #fff8f8;
  --color-surfaceDim: #ebd4dc;
  --color-surfaceBright: #fff8f8;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #fff0f4;
  --color-surfaceContainer: #ffe8f0;
  --color-surfaceContainerHigh: #fae2ea;
  --color-surfaceContainerHighest: #f4dde5;
  --color-onSurface: #25181e;
  --color-surfaceVariant: #f7dbe5;
  --color-onSurfaceVariant: #54424a;
  --color-outline: #87717a;
  --color-outlineVariant: #dac0c9;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #3b2c33;
  --color-inverseOnSurface: #ffecf2;
  --color-inversePrimary: #ffafd4;
}

[data-theme="dark"] {
  --color-primary: #ffafd4;
  --color-onPrimary: #620041;
  --color-primaryContainer: #8a005e;
  --color-onPrimaryContainer: #ffd8e8;
  --color-secondary: #f1b7c4;
  --color-onSecondary: #4a252f;
  --color-secondaryContainer: #643b46;
  --color-onSecondaryContainer: #ffd9e0;
  --color-tertiary: #ffb3b5;
  --color-onTertiary: #532024;
  --color-tertiaryContainer: #6f3639;
  --color-onTertiaryContainer: #ffdada;
  --color-error: #ffb4ab;
  --color-onError: #690005;
  --color-errorContainer: #93000a;
  --color-onErrorContainer: #ffdad6;
  --color-background: #1c1015;
  --color-onBackground: #f4dde5;
  --color-surface: #1c1015;
  --color-surfaceDim: #1c1015;
  --color-surfaceBright: #44353b;
  --color-surfaceContainerLowest: #160b10;
  --color-surfaceContainerLow: #25181e;
  --color-surfaceContainer: #291c22;
  --color-surfaceContainerHigh: #34262c;
  --color-surfaceContainerHighest: #3f3137;
  --color-onSurface: #f4dde5;
  --color-surfaceVariant: #54424a;
  --color-onSurfaceVariant: #dac0c9;
  --color-outline: #a28a94;
  --color-outlineVariant: #54424a;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #f4dde5;
  --color-inverseOnSurface: #3b2c33;
  --color-inversePrimary: #b5007c;
}