@theme {
  --color-primary: #884a6a;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #ffd8e8;
  --color-onPrimaryContainer: #6d3352;
  --color-secondary: #725763;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #fdd9e7;
  --color-onSecondaryContainer: #59404b;
  --color-tertiary: #7f553a;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #ffdbc8;
  --color-onTertiaryContainer: #643e25;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #fff8f8;
  --color-onBackground: #21191d;
  --color-surface: #fff8f8;
  --color-surfaceDim: #e5d6da;
  --color-surfaceBright: #fff8f8;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #fff0f4;
  --color-surfaceContainer: #f9eaee;
  --color-surfaceContainerHigh: #f4e4e9;
  --color-surfaceContainerHighest: #eedfe3;
  --color-onSurface: #21191d;
  --color-surfaceVariant: #f1dee4;
  --color-onSurfaceVariant: #504348;
  --color-outline: #827379;
  --color-outlineVariant: #d4c2c8;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #372e31;
  --color-inverseOnSurface: #fcedf1;
  --color-inversePrimary: #fdb0d4;
}

[data-theme="dark"] {
  --color-primary: #fdb0d4;
  --color-onPrimary: #521d3b;
  --color-primaryContainer: #6d3352;
  --color-onPrimaryContainer: #ffd8e8;
  --color-secondary: #e0bdcb;
  --color-onSecondary: #412a34;
  --color-secondaryContainer: #59404b;
  --color-onSecondaryContainer: #fdd9e7;
  --color-tertiary: #f2bb9a;
  --color-onTertiary: #4a2810;
  --color-tertiaryContainer: #643e25;
  --color-onTertiaryContainer: #ffdbc8;
  --color-error: #ffb4ab;
  --color-onError: #690005;
  --color-errorContainer: #93000a;
  --color-onErrorContainer: #ffdad6;
  --color-background: #191114;
  --color-onBackground: #eedfe3;
  --color-surface: #191114;
  --color-surfaceDim: #191114;
  --color-surfaceBright: #40373a;
  --color-surfaceContainerLowest: #130c0f;
  --color-surfaceContainerLow: #21191d;
  --color-surfaceContainer: #251d21;
  --color-surfaceContainerHigh: #30282b;
  --color-surfaceContainerHighest: #3b3236;
  --color-onSurface: #eedfe3;
  --color-surfaceVariant: #504348;
  --color-onSurfaceVariant: #d4c2c8;
  --color-outline: #9d8d92;
  --color-outlineVariant: #504348;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #eedfe3;
  --color-inverseOnSurface: #372e31;
  --color-inversePrimary: #884a6a;
}

.elegant-theme {
  --color-primary: #884a6a;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #ffd8e8;
  --color-onPrimaryContainer: #6d3352;
  --color-secondary: #725763;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #fdd9e7;
  --color-onSecondaryContainer: #59404b;
  --color-tertiary: #7f553a;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #ffdbc8;
  --color-onTertiaryContainer: #643e25;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #fff8f8;
  --color-onBackground: #21191d;
  --color-surface: #fff8f8;
  --color-surfaceDim: #e5d6da;
  --color-surfaceBright: #fff8f8;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #fff0f4;
  --color-surfaceContainer: #f9eaee;
  --color-surfaceContainerHigh: #f4e4e9;
  --color-surfaceContainerHighest: #eedfe3;
  --color-onSurface: #21191d;
  --color-surfaceVariant: #f1dee4;
  --color-onSurfaceVariant: #504348;
  --color-outline: #827379;
  --color-outlineVariant: #d4c2c8;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #372e31;
  --color-inverseOnSurface: #fcedf1;
  --color-inversePrimary: #fdb0d4;
}

.elegant-theme[data-mode="dark"] {
  --color-primary: #fdb0d4;
  --color-onPrimary: #521d3b;
  --color-primaryContainer: #6d3352;
  --color-onPrimaryContainer: #ffd8e8;
  --color-secondary: #e0bdcb;
  --color-onSecondary: #412a34;
  --color-secondaryContainer: #59404b;
  --color-onSecondaryContainer: #fdd9e7;
  --color-tertiary: #f2bb9a;
  --color-onTertiary: #4a2810;
  --color-tertiaryContainer: #643e25;
  --color-onTertiaryContainer: #ffdbc8;
  --color-error: #ffb4ab;
  --color-onError: #690005;
  --color-errorContainer: #93000a;
  --color-onErrorContainer: #ffdad6;
  --color-background: #191114;
  --color-onBackground: #eedfe3;
  --color-surface: #191114;
  --color-surfaceDim: #191114;
  --color-surfaceBright: #40373a;
  --color-surfaceContainerLowest: #130c0f;
  --color-surfaceContainerLow: #21191d;
  --color-surfaceContainer: #251d21;
  --color-surfaceContainerHigh: #30282b;
  --color-surfaceContainerHighest: #3b3236;
  --color-onSurface: #eedfe3;
  --color-surfaceVariant: #504348;
  --color-onSurfaceVariant: #d4c2c8;
  --color-outline: #9d8d92;
  --color-outlineVariant: #504348;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #eedfe3;
  --color-inverseOnSurface: #372e31;
  --color-inversePrimary: #884a6a;
}
