@theme {
  --color-primary: #94416e;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #ffd8e8;
  --color-onPrimaryContainer: #782956;
  --color-secondary: #725763;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #fdd9e7;
  --color-onSecondaryContainer: #59404b;
  --color-tertiary: #7f553a;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #ffdbc8;
  --color-onTertiaryContainer: #643e25;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #f9f9f9;
  --color-onBackground: #1b1b1b;
  --color-surface: #f9f9f9;
  --color-surfaceDim: #dadada;
  --color-surfaceBright: #f9f9f9;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #f3f3f3;
  --color-surfaceContainer: #eeeeee;
  --color-surfaceContainerHigh: #e8e8e8;
  --color-surfaceContainerHighest: #e2e2e2;
  --color-onSurface: #1b1b1b;
  --color-surfaceVariant: #e2e2e2;
  --color-onSurfaceVariant: #474747;
  --color-outline: #777777;
  --color-outlineVariant: #c6c6c6;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #303030;
  --color-inverseOnSurface: #f1f1f1;
  --color-inversePrimary: #ffafd4;
}

[data-theme="dark"] {
  --color-primary: #ffafd4;
  --color-onPrimary: #5b113e;
  --color-primaryContainer: #782956;
  --color-onPrimaryContainer: #ffd8e8;
  --color-secondary: #e0bdcb;
  --color-onSecondary: #412a34;
  --color-secondaryContainer: #59404b;
  --color-onSecondaryContainer: #fdd9e7;
  --color-tertiary: #f2bb9a;
  --color-onTertiary: #4a2810;
  --color-tertiaryContainer: #643e25;
  --color-onTertiaryContainer: #ffdbc8;
  --color-error: #ffb4ab;
  --color-onError: #690005;
  --color-errorContainer: #93000a;
  --color-onErrorContainer: #ffdad6;
  --color-background: #131313;
  --color-onBackground: #e2e2e2;
  --color-surface: #131313;
  --color-surfaceDim: #131313;
  --color-surfaceBright: #393939;
  --color-surfaceContainerLowest: #0e0e0e;
  --color-surfaceContainerLow: #1b1b1b;
  --color-surfaceContainer: #1f1f1f;
  --color-surfaceContainerHigh: #2a2a2a;
  --color-surfaceContainerHighest: #353535;
  --color-onSurface: #e2e2e2;
  --color-surfaceVariant: #474747;
  --color-onSurfaceVariant: #c6c6c6;
  --color-outline: #919191;
  --color-outlineVariant: #474747;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #e2e2e2;
  --color-inverseOnSurface: #303030;
  --color-inversePrimary: #94416e;
}

.playful-theme {
  --color-primary: #94416e;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #ffd8e8;
  --color-onPrimaryContainer: #782956;
  --color-secondary: #725763;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #fdd9e7;
  --color-onSecondaryContainer: #59404b;
  --color-tertiary: #7f553a;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #ffdbc8;
  --color-onTertiaryContainer: #643e25;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #f9f9f9;
  --color-onBackground: #1b1b1b;
  --color-surface: #f9f9f9;
  --color-surfaceDim: #dadada;
  --color-surfaceBright: #f9f9f9;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #f3f3f3;
  --color-surfaceContainer: #eeeeee;
  --color-surfaceContainerHigh: #e8e8e8;
  --color-surfaceContainerHighest: #e2e2e2;
  --color-onSurface: #1b1b1b;
  --color-surfaceVariant: #e2e2e2;
  --color-onSurfaceVariant: #474747;
  --color-outline: #777777;
  --color-outlineVariant: #c6c6c6;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #303030;
  --color-inverseOnSurface: #f1f1f1;
  --color-inversePrimary: #ffafd4;
}

.playful-theme[data-mode="dark"] {
  --color-primary: #ffafd4;
  --color-onPrimary: #5b113e;
  --color-primaryContainer: #782956;
  --color-onPrimaryContainer: #ffd8e8;
  --color-secondary: #e0bdcb;
  --color-onSecondary: #412a34;
  --color-secondaryContainer: #59404b;
  --color-onSecondaryContainer: #fdd9e7;
  --color-tertiary: #f2bb9a;
  --color-onTertiary: #4a2810;
  --color-tertiaryContainer: #643e25;
  --color-onTertiaryContainer: #ffdbc8;
  --color-error: #ffb4ab;
  --color-onError: #690005;
  --color-errorContainer: #93000a;
  --color-onErrorContainer: #ffdad6;
  --color-background: #131313;
  --color-onBackground: #e2e2e2;
  --color-surface: #131313;
  --color-surfaceDim: #131313;
  --color-surfaceBright: #393939;
  --color-surfaceContainerLowest: #0e0e0e;
  --color-surfaceContainerLow: #1b1b1b;
  --color-surfaceContainer: #1f1f1f;
  --color-surfaceContainerHigh: #2a2a2a;
  --color-surfaceContainerHighest: #353535;
  --color-onSurface: #e2e2e2;
  --color-surfaceVariant: #474747;
  --color-onSurfaceVariant: #c6c6c6;
  --color-outline: #919191;
  --color-outlineVariant: #474747;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #e2e2e2;
  --color-inverseOnSurface: #303030;
  --color-inversePrimary: #94416e;
}
