@theme {
  --color-primary: #694fa3;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #eaddff;
  --color-onPrimaryContainer: #513689;
  --color-secondary: #67558e;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #eaddff;
  --color-onSecondaryContainer: #4e3d75;
  --color-tertiary: #884a6a;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #ffd8e8;
  --color-onTertiaryContainer: #6d3352;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #fff8f8;
  --color-onBackground: #25181e;
  --color-surface: #fff8f8;
  --color-surfaceDim: #ebd4dc;
  --color-surfaceBright: #fff8f8;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #fff0f4;
  --color-surfaceContainer: #ffe8f0;
  --color-surfaceContainerHigh: #fae2ea;
  --color-surfaceContainerHighest: #f4dde5;
  --color-onSurface: #25181e;
  --color-surfaceVariant: #fdd9e7;
  --color-onSurfaceVariant: #59404b;
  --color-outline: #8c6f7b;
  --color-outlineVariant: #e0bdcb;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #3b2c33;
  --color-inverseOnSurface: #ffecf2;
  --color-inversePrimary: #d1bcff;
}

[data-theme="dark"] {
  --color-primary: #d1bcff;
  --color-onPrimary: #3a1d71;
  --color-primaryContainer: #513689;
  --color-onPrimaryContainer: #eaddff;
  --color-secondary: #d1bcfd;
  --color-onSecondary: #37265c;
  --color-secondaryContainer: #4e3d75;
  --color-onSecondaryContainer: #eaddff;
  --color-tertiary: #fdb0d4;
  --color-onTertiary: #521d3b;
  --color-tertiaryContainer: #6d3352;
  --color-onTertiaryContainer: #ffd8e8;
  --color-error: #ffb4ab;
  --color-onError: #690005;
  --color-errorContainer: #93000a;
  --color-onErrorContainer: #ffdad6;
  --color-background: #1c1015;
  --color-onBackground: #f4dde5;
  --color-surface: #1c1015;
  --color-surfaceDim: #1c1015;
  --color-surfaceBright: #44353b;
  --color-surfaceContainerLowest: #160b10;
  --color-surfaceContainerLow: #25181e;
  --color-surfaceContainer: #291c22;
  --color-surfaceContainerHigh: #34262c;
  --color-surfaceContainerHighest: #3f3137;
  --color-onSurface: #f4dde5;
  --color-surfaceVariant: #59404b;
  --color-onSurfaceVariant: #e0bdcb;
  --color-outline: #a78895;
  --color-outlineVariant: #59404b;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #f4dde5;
  --color-inverseOnSurface: #3b2c33;
  --color-inversePrimary: #694fa3;
}

.brutalist-theme {
  --color-primary: #694fa3;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #eaddff;
  --color-onPrimaryContainer: #513689;
  --color-secondary: #67558e;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #eaddff;
  --color-onSecondaryContainer: #4e3d75;
  --color-tertiary: #884a6a;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #ffd8e8;
  --color-onTertiaryContainer: #6d3352;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #fff8f8;
  --color-onBackground: #25181e;
  --color-surface: #fff8f8;
  --color-surfaceDim: #ebd4dc;
  --color-surfaceBright: #fff8f8;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #fff0f4;
  --color-surfaceContainer: #ffe8f0;
  --color-surfaceContainerHigh: #fae2ea;
  --color-surfaceContainerHighest: #f4dde5;
  --color-onSurface: #25181e;
  --color-surfaceVariant: #fdd9e7;
  --color-onSurfaceVariant: #59404b;
  --color-outline: #8c6f7b;
  --color-outlineVariant: #e0bdcb;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #3b2c33;
  --color-inverseOnSurface: #ffecf2;
  --color-inversePrimary: #d1bcff;
}

.brutalist-theme[data-mode="dark"] {
  --color-primary: #d1bcff;
  --color-onPrimary: #3a1d71;
  --color-primaryContainer: #513689;
  --color-onPrimaryContainer: #eaddff;
  --color-secondary: #d1bcfd;
  --color-onSecondary: #37265c;
  --color-secondaryContainer: #4e3d75;
  --color-onSecondaryContainer: #eaddff;
  --color-tertiary: #fdb0d4;
  --color-onTertiary: #521d3b;
  --color-tertiaryContainer: #6d3352;
  --color-onTertiaryContainer: #ffd8e8;
  --color-error: #ffb4ab;
  --color-onError: #690005;
  --color-errorContainer: #93000a;
  --color-onErrorContainer: #ffdad6;
  --color-background: #1c1015;
  --color-onBackground: #f4dde5;
  --color-surface: #1c1015;
  --color-surfaceDim: #1c1015;
  --color-surfaceBright: #44353b;
  --color-surfaceContainerLowest: #160b10;
  --color-surfaceContainerLow: #25181e;
  --color-surfaceContainer: #291c22;
  --color-surfaceContainerHigh: #34262c;
  --color-surfaceContainerHighest: #3f3137;
  --color-onSurface: #f4dde5;
  --color-surfaceVariant: #59404b;
  --color-onSurfaceVariant: #e0bdcb;
  --color-outline: #a78895;
  --color-outlineVariant: #59404b;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #f4dde5;
  --color-inverseOnSurface: #3b2c33;
  --color-inversePrimary: #694fa3;
}
